
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div id="content" class="float_r">
    <div class="alert alert-success" role="alert" style="background-color:burlywood;">
        <div class="col-md-12 ">
            <h3 style="color:white; " class="inner">@ViewBag.statusMessage</h3>
        </div>
    </div>
</div>

<div class="row" style="height:800px;">
</div>